<div class="y-landing">
  <div class="y-landing__frame">
    <div class="y-landing__jumbotron">
      <div class="y-landing__jumbotron__photo">
        <div class="y-landing__jumbotron__title">Відкрийте світ <br>для своєї дитини</div>
        <div class="y-landing__jumbotron__text">Знання однієї мови дозволяє увійти в коридор життя, 
            знання декількох – відкриває вам усі двері у цьому коридорі. <br><br>
            <span class="y-landing__jumbotron__text__author">Франк Сміт.</span>
        </div>
        <div class="y-landing__jumbotron__order-now">
          <div class="y-landing__jumbotron__order-btn">
            Записатись на пробний урок
          </div>
        </div>
      </div>
    </div>
    <div class="y-landing__languages">
      <div class="y-landing__languages__item">
        <div class="y-landing__languages__item__title">Англійська</div>
        <div class="y-landing__languages__item__icon-wrap">
          <div class="y-landing__languages__item__icon english"></div>
        </div>
        <div class="y-landing__languages__item__description">
          Мова міжнародної освіти, культури, бізнесу. За словами Доррі Кларка з Форбс, тепер знання англійської перетворилося
          з "привілею еліт" на базову навичку для сучасної людини.
        </div>
      </div>
      <div class="y-landing__languages__item">
        <div class="y-landing__languages__item__title">Німецька</div>
        <div class="y-landing__languages__item__icon-wrap">
            <div class="y-landing__languages__item__icon german"></div>
          </div>
        <div class="y-landing__languages__item__description">
          Найбільша кількість мовців у Європейському Союзі. Німеччина - один із глобальних лідерів промисловості, дала світові плеяду визначних філософів, 
          письменників та музикантів. Також німецька займає друге місце за частотою вживання у міжнародній науці.
        </div>
      </div>
    </div>
    <div class="y-landing__overview">
      <div class="y-landing__overview__title">Kids English & Deutsch</div>
      <div class="y-landing__overview__text">
          Ми - це товариство викладачів іноземних мов, які пропонують ефективне та всебічне вивчення англійської та німецької (а саме: граматики, говоріння, письма, читання, сприйняття мови на слух та, обов'язково, вимови) 
         Ми намагаємось забезпечити "повне занурення" учня у мовне середовище (адже 90% заняття викладається іноземною).
      </div>
    </div>
    <div class="y-landing__services">
      <div class="y-landing__services__title">Наші послуги</div>
      <div class="y-landing__services__items-wrap">
        <div class="y-landing__services__item">
          <div class="y-landing__services__item__title">Групові заняття для дітей</div>
          <div class="y-landing__services__item__icon group"></div>
          <div class="y-landing__services__item__brief">Перевага групових занять - дитина не лише отримує мовні навички, а й вчиться долати страх перед аудиторією, має нагоду завести друзів і, зрештою, весело та з користю провести час.</div>
        </div>
        <div class="y-landing__services__item">
          <div class="y-landing__services__item__title">Індивідуальні заняття</div>
          <div class="y-landing__services__item__icon individual"></div>
          <div class="y-landing__services__item__brief">На індивідуальних заняттях клієнт отримує максимум уваги від викладача. Можна проходити матеріал у зручному для себе темпі, вибрати оптимальний формат занять з урахуванням власних сильних і слабких сторін.</div>
        </div>
        <div class="y-landing__services__item">
          <div class="y-landing__services__item__title">Заняття по Skype або Viber</div>
          <div class="y-landing__services__item__icon remote"></div>
          <div class="y-landing__services__item__brief">Живете не в Хмельницькому? Не маєте часу ходити до класу? Тепер це не проблема! Оберіть один із форматів дистанційного навчання у Kids English & Deutsch!</div>
        </div>
        <div class="y-landing__services__item">
          <div class="y-landing__services__item__title">Підготовка до ЗНО, ДПА тощо</div>
          <div class="y-landing__services__item__icon assistance"></div>
          <div class="y-landing__services__item__brief">Наші кваліфіковані викладачі допоможуть Вам або Вашій дитині підготуватися до українських або міжнародних іспитів із іноземних мов. Дізнайтесь більше про наші програми підготовки.</div>
        </div>
      </div>
    </div>
    <div class="y-landing__reviews">
      <div class="y-landing__reviews__title">Ось що про нас кажуть:</div>
      <div class="y-landing__reviews__items-wrap">
        <div class="y-landing__reviews__item">
          <div class="y-landing__reviews__item__left">
              <div class="y-landing__reviews__item__photo">
                <img src="/assets/img/client_cropped.jpg" alt="Review author photo" width="100" height="100">
              </div>
          </div>
          <div class="y-landing__reviews__item__right">
              <div class="y-landing__reviews__item__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
              <div class="y-landing__reviews__item__author">Іванова Іванна Іванівна</div>
          </div>
        </div>
        <div class="y-landing__reviews__item">
          <div class="y-landing__reviews__item__left">
              <div class="y-landing__reviews__item__photo">
                <img src="/assets/img/client_cropped.jpg" alt="Review author photo" width="100" height="100">
              </div>
          </div>
          <div class="y-landing__reviews__item__right">
              <div class="y-landing__reviews__item__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
              <div class="y-landing__reviews__item__author">Іванова Іванна Іванівна</div>
          </div>
        </div>
        <div class="y-landing__reviews__item">
          <div class="y-landing__reviews__item__left">
              <div class="y-landing__reviews__item__photo">
                <img src="/assets/img/client_cropped.jpg" alt="Review author photo" width="100" height="100">
              </div>
          </div>
          <div class="y-landing__reviews__item__right">
              <div class="y-landing__reviews__item__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
              <div class="y-landing__reviews__item__author">Іванова Іванна Іванівна</div>
          </div>
        </div>
      </div>
    </div>
    <div class="y-landing__contact-us">
      <div class="y-landing__contact-us__background">
          <div class="y-landing__contact-us__content-wrap">
              <div class="y-landing__contact-us__title">Чекаємо на Вас!</div>
              <div class="y-landing__contact-us__instructions">Заповніть цю форму, і ми зв'яжемось із Вами.</div>
              <div class="y-landing__contact-us__form">
                <form class="y-contactus-form">
                  <div class="y-contactus-form__row" (click)="onFormRowClick(nameLabel, nameInput, 'name')">
                    <div #nameLabel class="y-contactus-form__label">Як до Вас звертатись</div>
                    <div class="y-contactus-form__iput-wrap">
                      <input #nameInput class="y-contactus-form__input"
                              name="customerName"
                              [(ngModel)]="customerForm.name"
                              (blur)="onFormInputBlur(nameLabel, nameInput, 'name')"
                              (focus)="onFormRowClick(nameLabel, nameInput, 'name')"
                              >
                    </div>
                  </div>
                  <div class="y-contactus-form__row" (click)="onFormRowClick(phoneLabel, phoneInput, 'phone')">
                      <div #phoneLabel class="y-contactus-form__label">Ваш телефон</div>
                      <div class="y-contactus-form__iput-wrap">
                        <input #phoneInput class="y-contactus-form__input"
                               name="phone"
                               [(ngModel)]="customerForm.phone"
                               (blur)="onFormInputBlur(phoneLabel, phoneInput, 'phone')"
                               (focus)="onFormRowClick(phoneLabel, phoneInput, 'phone')"
                               >
                      </div>
                  </div>
                  <div class="y-contactus-form__row" (click)="onFormRowClick(emailLabel, emailInput, 'email')">
                      <div #emailLabel class="y-contactus-form__label">Ваша електронна скринька</div>
                      <div class="y-contactus-form__iput-wrap">
                        <input #emailInput class="y-contactus-form__input"
                               name="email"
                               [(ngModel)]="customerForm.email"
                               (blur)="onFormInputBlur(emailLabel, emailInput, 'email')"
                               (focus)="onFormRowClick(emailLabel, emailInput, 'email')"
                               >
                      </div>
                  </div>
                  <div class="y-contactus-form__row" (click)="onFormRowClick(serviceLabel, serviceInput, 'service')">
                      <div #serviceLabel class="y-contactus-form__label">Які послуги Вас цікавлять</div>
                      <div class="y-contactus-form__input-wrap">
                        <input #serviceInput class="y-contactus-form__input"
                              name="service"
                              [(ngModel)]="customerForm.service"
                              (blur)="onFormInputBlur(serviceLabel, serviceInput, 'service')"
                              (focus)="onFormRowClick(serviceLabel, serviceInput, 'service')"
                              >
                      </div>
                  </div>
                  <div class="y-contactus-form__row">
                      <div class="y-contactus-form__submit-btn">
                        Надіслати
                      </div>
                  </div>
                </form>
              </div>
              <div class="y-landing__contact-us__phone-instructions">
                або зателефонуйте на номер 
              </div>
              <div class="y-landing__contact-us__phone-no">
                <a href="tel:380631773311">0631773311</a>
              </div>
          </div>
      </div>
    </div>
    <div class="y-landing__footer">
      <div class="y-landing__footer__address">
        Kids English & Deutsch,<br>
        м. Хмельницький, мкрн Ракове,<br>
        вулиця Народної Волі, 1а, корп. 2<br>
        <a href="mailto: kate_ivasenko5@i.ua">kate_ivasenko5@i.ua</a>
      </div>
      <div class="y-landing__footer__designed-by">
        <span class="y-landing__footer__designed-by__text">Designed by <a href="mailto:petrodzher@gmail.com">offsky</a></span>
      </div>
    </div>
  </div>
</div>