$pink-basic: #E85867;
$red-basic: #EF192D;
$blue-light: rgba(16, 155, 136, 0.1);
$blue-basic: #109B88;
$blue-dark: rgb(18, 136, 120);
$green-basic: #ADE918;
$grey-basic: #121313;
$grey-light: #555555;
$grey-super-light: #a8a8a8;

$width: 100vw;
$padding: 4vmax;